/* General Padding */
.comp-info,
.event-name {
  padding-left: 1rem;
}

/* Group Styles */
.groups {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.group {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  outline: 2px solid rgba(158, 154, 154, 0.294);
  border-radius: 0.5rem;
}

.group-title-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  column-gap: 1rem;
  max-height: 100px;
}

.group-results {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}

.group-results.hidden {
  display: none;
  height: 0;
}

.group-title {
  display: inline-block;
}

/* Round Styles */
.round {
  margin: 0.5rem 0;
}

.round-title-container {
  padding: 0.3rem;
  border: 2px solid rgb(158, 154, 154);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  border-radius: 0.25rem;
}

.round-title {
  margin: 0.2rem 0;
}

.round-results {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 0.5rem;
  padding: 0.2rem;
  border: 3px solid rgb(181, 150, 150);
  border-radius: 0.5rem;
}

.round-results.hidden {
  display: none;
}

/* Show/Hide Button */
.show-hide {
  height: 30px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.203);
  border-radius: 15px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-hide:active {
  outline: 2px solid black;
}

/* Media Query */
@media screen and (width >= 1000px) {
  .groups {
    grid-template-columns: 1fr 1fr;
  }
}
