.container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    width: 300px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 1rem;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
}

.username-input,
.password-input {
    margin-bottom: 40px;
    width: 50vw;
    padding: 10px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
}

.username-input:focus,
.password-input:focus {
    border-color: var(--default-button-background-color);
    box-shadow: 0 0 8px var(--default-button-shadow-color);
    outline: none;
}

.submit-btn {
    padding: 10px 12px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    background-color: var(--default-button-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        box-shadow 0.3s,
        transform 0.3s var(--exponential);
}

.submit-btn:hover {
    transform: scale(1.05);
    background-color: var(--default-button-background-color);
    box-shadow: 0 0 8px var(--default-button-shadow-color);
}

.submit-btn:focus {
    outline: none;
}

.message {
    margin-top: 10px;
    text-align: center;
    color: rgb(255 255 255);
    font-weight: 700;
}

.error {
    color: rgb(255 73 73);
}
