.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
}

@media screen and (width <= 420px) {
    .cards {
        flex-direction: column;
    }
}

.card {
    background-color: rgb(74 74 74);
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 4px 0 8px 0 rgb(0 0 0 / 20%);
    flex: 1 1 auto; /* Allow the cards to grow and shrink */
    min-width: 200px; /* Set minimum width */
    border-radius: 5px;
    transition:
        background-color 0.25s,
        box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(255 255 255 / 30%);
    background-color: rgb(50 50 50);
}

.card-inside-container {
    padding: 3px 10px;
    height: 100%;
    max-width: 500px;
    word-wrap: break-word; /* Ensure text wraps properly */
}

.post-title {
    margin: 0;
}

.logout-span,
.share {
    cursor: pointer;
    color: var(--anchor-unvisited-color);
    text-decoration: underline;
}

.qrcode {
    width: 100px;
}

.post-author {
    font-weight: 700;
}

.post {
    cursor: pointer;
    color: var(--anchor-unvisited-color);
    text-decoration: underline;
}
