.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-top: 10px;
}
@media screen and (max-width: 420px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.card {
  animation: animate-in-and-out linear;
  animation-timeline: view();
  background-color: rgb(74, 74, 74);
  padding-top: 5px;
  padding-bottom: 10px;
  box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  transition: background-color 0.25s, box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3);
  background-color: rgb(50, 50, 50);
}

.card-inside-container {
  padding: 3px 10px;
  height: 100%;
}
.post-title {
  margin: 0;
}
.logout-span,
.share {
  cursor: pointer;
  color: rgb(0, 102, 204);
  text-decoration: underline;
}
.qrcode {
  width: 100px;
}
.post-author {
  font-weight: 700;
}
.post {
  cursor: pointer;
  color: rgb(0, 102, 204);
  text-decoration: underline;
}
@keyframes animate-in-and-out {
  entry 0% {
    opacity: 0;
    transform: translateY(100%);
  }
  entry 50% {
    opacity: 1;
    transform: translateY(0);
  }

  exit 0% {
    opacity: 1;
    transform: translateY(0);
  }
  exit 50% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
