.filter {
    background-color: hsla(0, 0%, 0%, 0.3);
    padding: 1rem;
    margin: 10px 0px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
}

.filter > input {
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0.1);
    color: white;
    outline: none;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
    width: 100%;

    max-width: 180px;
}

.filter > input:focus {
    border-color: #4169e1;
    box-shadow: 0 0 5px #4169e1;
}

.filter > select {
    padding: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background-color: hsla(0, 0%, 100%, 0.1);
    color: white;
    font-size: 0.9rem;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.filter > select:focus {
    border-color: #4169e1;
    box-shadow: 0 0 5px #4169e1;
}

.filter > select > option {
    background-color: white;
    color: hsla(0, 0%, 15%, 0.9);
    padding: 0.5rem;
    font-size: 0.9rem;
}

.filter > button {
    padding: 0.5rem 1rem;
    background-color: hsl(225, 73%, 57%);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.filter > button:hover {
    background-color: hsla(225, 73%, 57%, 0.8);
}

.filter > button:active {
    transform: scale(0.96);
}

.users {
    display: flex;
    flex-direction: column;
}

.user {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(63 63 63);
}

.username-div {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
    display: inline-block;
}

.manage-accounts {
    margin-left: 5px;
}

.role {
    margin-top: 5px;
}

.user-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.user-btn {
    width: fit-content;
    min-width: 80px;
    max-width: 200px;
    border-radius: 2px;
    border: none;
    outline: none; /* Removes default browser outline */
    background-color: royalblue;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        color 0.3s;
}

.user-btn:active {
    transform: translateY(2px);
}

.remove-btn:hover {
    background-color: rgb(234 45 16);
}

.add-btn:hover {
    background-color: rgb(142 213 36);
    color: black;
}

.comp-btn:hover {
    background-color: rgb(44 153 153);
    color: white;
}

.comp {
    overflow: hidden;
}

.round {
    margin: 10px 0;
    color: black;
    background-color: rgb(181 181 149);
    padding: 10px;
}

.round h3 {
    margin: 0 0 5px;
    padding: 0;
}

.solves-list {
    counter-reset: item;
}

.solve {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    list-style: none;
}

.solve::before {
    content: counter(item) ".";
    counter-increment: item;
    margin-right: 10px;
}

.delete-solve {
    background-color: rgb(233 71 42);
    border-radius: 10px;
    border: none;
    padding: 3px 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-solve:hover {
    background-color: rgb(233 128 42);
}

.solve-input {
    min-width: 100px;
    max-width: 180px;
    width: 20%;
    padding: 5px 7px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
}

.solve-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgb(102 175 233 / 60%);
    outline: none;
}

.solve-input.locked:focus {
    border-color: rgb(85 85 85);
    box-shadow: 0 0 8px rgb(85 85 85 / 60%);
    outline: none;
}

.solve-add-btn {
    padding: 5px 7px;
    width: 20%;
    min-width: 60px;
    max-width: 100px;
    font-size: 16px;
    color: #fff;
    background-color: #66afe9;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition:
        background-color 0.3s,
        box-shadow 0.3s;
}

.solve-add-btn.locked {
    background-color: rgb(128 128 128);
}

.solve-add-btn:hover,
.solve-add-btn:focus {
    background-color: #559dd6;
    box-shadow: 0 0 8px rgb(102 175 233 / 60%);
}

.solve-add-btn.locked:hover,
.solve-add-btn.locked:focus {
    background-color: rgb(85 85 85);
    box-shadow: 0 0 8px rgb(85 85 85 / 60%);
}

@media screen and (width <= 300px) {
    .manage-accounts {
        display: none;
    }
}

@media screen and (width <= 350px) {
    .admin-panel {
        display: none;
    }
}

.advanced-dashboard-btn,
.register-btn {
    width: 100%;
    cursor: pointer;
    background-color: royalblue;
    padding: 6px;
    border: none;
    color: white;
    margin: 10px 0;
}
