.users {
  display: flex;
  flex-direction: column;
}

.user {
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(63 63 63);
}

.username-div {
  display: flex;
  align-items: center;
}

.username {
  font-weight: bold;
  display: inline-block;
}

.manage-accounts {
  margin-left: 5px;
}

.role {
  margin-top: 5px;
}

.register-btn {
  width: 100%;
  padding: 5px 15px;
  background-color: rgb(39 219 39); /* Green button */
  transition: background-color 1s;
}

.register-btn:hover {
  background-color: rgb(29 107 29);
}

.user-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.user-btn {
  width: fit-content;
  min-width: 80px;
  max-width: 200px;
  border-radius: 2px;
  border: none;
  background-color: royalblue;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.user-btn:active {
  transform: translateY(2px);
}

.remove-btn:hover {
  background-color: rgb(234 45 16);
}

.add-btn:hover {
  background-color: rgb(142 213 36);
  color: black;
}

.comp-btn:hover {
  background-color: rgb(44 153 153);
  color: white;
}

.round {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  background-color: rgb(181 181 149);
  padding: 10px;
}

.round h3 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.solves-list {
  counter-reset: item;
}

.solve {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  list-style: none;
}

.solve::before {
  content: counter(item) ".";
  counter-increment: item;
  margin-right: 10px;
}

.delete-solve {
  background-color: rgb(233 71 42);
  border-radius: 10px;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-solve:hover {
  background-color: rgb(233 128 42);
}

.solve-input {
  min-width: 100px;
  max-width: 180px;
  width: 20%;
  padding: 5px 7px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.solve-input:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgb(102 175 233 / 60%);
  outline: none;
}

.solve-add-btn {
  padding: 5px 7px;
  width: 20%;
  min-width: 60px;
  max-width: 100px;
  font-size: 16px;
  color: #fff;
  background-color: #66afe9; /* Blue button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.solve-add-btn:hover {
  background-color: #559dd6;
  box-shadow: 0 0 8px rgb(102 175 233 / 60%);
}

.solve-add-btn:focus {
  outline: none;
}

@media screen and (width <= 300px) {
  .manage-accounts {
    display: none;
  }
}

@media screen and (width <= 350px) {
  .admin-panel {
    display: none;
  }
}

.advanced-dashboard-btn {
  width: 100%;
}
