:root {
    --background: linear-gradient(
        135deg,
        rgb(96 96 96),
        #4c3f56,
        rgb(81 72 89),
        rgb(96 96 96)
    );
    --exponential: cubic-bezier(1, 0, 0, 1);
    --anchor-visited-color: rgb(85 179 238);
    --anchor-unvisited-color: rgb(159 255 255);
    --header-background-color: rgb(24 24 24);
    --default-button-background-color: rgb(65 105 225);
    --default-button-hover-background-color: rgb(63 99 207);
    --default-button-shadow-color: rgb(65 105 225 / 60%);
}

body {
    background: var(--background);
    background-attachment: fixed;
    color: white;
}

a {
    color: var(--anchor-unvisited-color);
}

a:visited {
    color: var(--anchor-visited-color);
}
