.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.register-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-items: center;
}

.username-input,
.password-input {
    width: 50vw;
    padding: 10px 12px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition:
        border-color 0.3s,
        box-shadow 0.3s;
}

.username-input:focus,
.password-input:focus {
    border-color: var(--default-button-background-color);
    box-shadow: 0 0 8px var(--default-button-shadow-color);
    outline: none;
}

.radio-input {
    margin-top: 0;
    margin-bottom: 0;
}

.groups-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    margin: 10px 0;
    width: 100%;
}

.group-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    background-color: var(--default-button-background-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:
        background-color 0.3s,
        box-shadow 0.3s,
        transform 0.3s ease;
}

.submit-btn:hover {
    transform: scale(1.05);
    background-color: var(--default-button-hover-background-color);
    box-shadow: 0 0 8px var(--default-button-shadow-color);
}

.submit-btn:focus {
    outline: none;
}

.message-container {
    width: 100%;
    max-width: 50vw;
}

.message {
    text-align: center;
    text-wrap: wrap;
    overflow-wrap: anywhere;
    color: rgb(255 255 255);
    font-weight: 700;
}

.error {
    color: rgb(255 73 73);
}
